@{
  Layout = "_Layout";
}

@using TastyTreats.Models;

<h1>Treats for @User.Identity.Name</h1>

@if (@Model.Count == 0)
{
  <h3>No treats have been added yet!</h3>
} 
else
{
  <ul>
    @foreach (Treat treat in Model)
    {
      <li>@Html.ActionLink($"{treat.Name}", "Details", new { id = treat.TreatId })</li>
    }
  </ul>
}

<span>@Html.ActionLink("Add New Treat", "Create", null, null, new { @class = "btn btn-primary"})</span>
<span>@Html.ActionLink("Home", "Index", "Home", null, new { @class = "btn btn-info"})</span>